// @import "~react-icons/fa";
.login-card {
    width: 80%;
    padding-left: 50px;
    padding-right: 50px;
    color: $sub-color;
}
.form-container {
    margin: 20px 0;
    display: flex;
    align-items: center;
    gap: 20px;
    @include responsive($md) {
        flex-direction: column;
    }
    &_sec {
        width: 50%;
        @include responsive($md) {
            width: 100%;
        }
    }
}
.form-image {
    img {
        width: 100%;
    }
}
.form-title {
    margin-top: 20px;
    &_sub {
        color: $text-main;
        font-size: 14px;
        font-weight: 400;
    }
}
.form-inputs {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 15px 0;
}
.form-options {
    display: flex;
    color: $text-main;
    label {
        padding-#{$start-direction}:  25px;
        position: relative;
    }
    input {
        accent-color: $main-color;
    }
    a {
        display: block;
        margin-#{$start-direction}: auto;
    }
    .checkbox {
        display: none;
    }
    //checkbox
    .checkbox + label::before {
        content: "";
        width: 16px;
        height: 16px;
        position: absolute;
        top: 50%;
        #{$start-direction}: 0;
        transform: translateY(-50%);
        border: 1px solid $text-main;
    }
    .checkbox:checked + label::before {
        background-color: $main-color;
        border: none;
    }
    //checkmark
    .checkbox + label .checkicon {
        color: white;
        position: absolute;
        #{$start-direction}: 0;
        top: 50%;
        transform: translateY(-50%);
        display: none;
        font-size: 12px;
        width: 14px;
        height: 14px;
        padding: 1px;
        padding-#{$start-direction}: 2px;
    }
    .checkbox:checked + label .checkicon{
        display: block;
    }
}
.form-actions {
    margin: 20px;
    text-align: center;
    p {
        margin-top: 10px;
        color: $text-main;
    }
}
.footer {
    color: $text-main;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    @include responsive($sm) {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
}